/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .extra-mobile {
        display: none!important;
    }
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * jQuery Tabs
 */
div.tab-title {
    text-align: center;
}
.title {
    font-size: 1.7em;
    font-weight: bold;
}
#wizard-tabs .ui-tabs-nav {
    display: none;
}
#tab-buttons {
    text-align: right;
}

/*
 *  New Trip Wizard Formatting
 */
.full-address {
    width: 100%;
}

.verified {
    background: green;
}

.verify-failed {
    background: red;
}

/*
 *  Tooltips without javascript - not really working well right now
 *  Apply class .with-csstooltip to whatever should display the tooltip
 *  Apply class .csstooltip to whatever the tooltip is
 */
.csstooltip {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -80px;
    left:-30px;
    display:none;
    padding:0 20px;
    width: 300px;
}
.csstooltip:after {
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.with-csstooltip {
    cursor:pointer;
}

.with-csstooltip:hover .csstooltip {
    display: block;
    opacity: 1;
}

/*
 *  jQueryUI Tooltip stuff
 */
.jqtooltip {
    border-bottom: 1px dashed black;
    cursor: pointer;
}

.ui-tooltip {
    background: grey;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    line-height: 0.8em;
}

.tooltip-name {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}

.tooltip-company {
    font-style: italic;
    padding-bottom: 10px;
}

.tooltip-phone {
    padding-top: 10px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/** Paging **/
.paging {
    background:#fff;
    color: #ccc;
    margin-top: 1em;
    clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}
.paging > span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;
}
.paging > span:hover {
    background: #efefef;
}
.paging .prev {
    border-left: 1px solid #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.paging .disabled {
    color: #ddd;
}
.paging .disabled:hover {
    background: transparent;
}
.paging .current {
    background: #efefef;
    color: #c73e14;
}

/* 
   using for add pieces
   if they mess something up
   please let me knwo and we can move
   -cbooze
*/
div.input label {
	display: block;
	padding-top: 5px;
}

div.input input {
	padding-bottom: 5px;
}

textarea:focus, input:focus {
	border: 2px solid #ccc;
}

.buttons {
	margin-top: 10px;
}

.buttons div{
	display: inline;
	margin-right: 10px;
}